* {
	margin: 0;
	padding: 0;
}

html, body{
	font-family: Raleway, sans-serif;  
}

.body{
	background-color: $bg-colorbody;
}

@font-face {
	font-family: 'Roboto';
	src: url(../webfonts/Roboto-Medium.ttf);
}


section.textoNosotros{
	background-color: $bg-colorbody;
	padding: 5px;
	border-radius: 1em;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

	p{
		color: #410101;
		font-style: italic; 
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}
}


.titulo{
	text-align: center;
	font-family: "Roboto";
	color: $font-black;
	font-weight: bold;
}






