$bg-colorbody: #fff;
$font-black: #090909;
$font-white: #FFFFFF;
$color-violet: #8D1FCC;
$color-blue: #3D5B94;
$color-lightBlue: #3DACDD;
$color-green: #6dcd9a;
$redes-size: 1.2em;
$bg-colorGris: #F5F5F5;
$black:#070707;
$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;
$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade:	#007c85;
$darkGrey: #4f585e;