$bg-colorbody: #fff;
$font-black: #090909;
$font-white: #FFFFFF;
$dk-violet: #8D1FCC;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #6dcd9a;
$social-size: 1.2em;
$social-width: 20%;
$bg-colorGris: #F5F5F5;
