$bg-colorbody: #fff;
$font-black: #090909;
$font-white: #FFFFFF;
$color-violet: #8D1FCC;
$color-blue: #3D5B94;
$color-lightBlue: #3DACDD;
$color-green: #6dcd9a;
$redes-size: 1.2em;
$bg-colorGris: #F5F5F5;
